body{

}
header>img{
	height: 200px;
	width: 200px;
}
#covid{
	float: auto;
}
.navbar{
	width: 100%;
}
.container{
	background-color: #5A0786;
	width: 100%
	height:40px;
	padding: 0;
}

.nav-link{
	color: #ffffff;
}

section img{
	height: 200px;
	width: 400px;
}
footer{
	background-color: #2B1B53;
	padding: 0;
	margin: 0;
}
.nav li a{
	text-decoration: none;
	color: #FFFFFF;
}

.nav div li{
	color: #FFFFFF;
}